// Import Mailspring's base UI colour variables
@import 'base/ui-variables';

// Change these variables to modify your theme!

//=============================== Components ===========================//

//== Toolbar
@toolbar-background-color: darken(@gray, 17.5%);

//== Account Sidebar
@panel-background-color:         @gray-darker;
@source-list-bg:                 @panel-background-color;
@source-list-active-bg:          @panel-background-color;
@source-list-active-color:       @component-active-color;

//== Thread List (e.g, `.list-group-item`, `.list-item`)
@list-bg:                  @gray-darker;//@white;
@list-border:              @gray-darker;//#ddd;
@list-hover-bg:            darken(@list-bg, 4%);
@list-focused-color:       @list-bg;
@list-focused-bg:          @component-active-color;
@list-focused-border:      @list-focused-bg;
@list-selected-color:      inherit;
@list-selected-bg:         mix(@component-active-color, @list-bg, 17%);
@list-selected-border:     mix(@component-active-color, @list-bg, 50%);

//== Notifications
@background-color-info: @blue-light;
@background-color-success: #009ec4;
@background-color-warning: #ff4800;
@background-color-error: #f15f4b;
@background-color-pending: #b4babd;

//== Menus
@menu-item-color-hover: fade(@blue-light, 10%);
@menu-item-color-selected: @blue-light;
@menu-text-color-selected: @text-color-inverse;

//== Sizes
@input-font-size: 14px;
@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 2px;


//=============================== Colors ===============================//

@accent-primary:      lighten(#00e6ac,15%); //@blue;
@accent-primary-dark: #00e6ac; //@blue-dark;

@background-primary:     @gray;//@white;
@background-off-primary: @gray;//#fdfdfd;
@background-secondary:   @gray;//#f6f6f6;
@background-tertiary:    #6d7987;

@color-info:    @blue-dark;
@color-success: #00e6ac; //#5CB346;
@color-warning: #e6ac00; //#f0ad4e;
@color-error:   #e63900; //#d9534f;
@color-danger:  @color-error;

@component-active-color:        @accent-primary-dark;
@component-active-bg:           @background-primary;

@background-gradient: linear-gradient(to top, rgba(241,241,241,0.75) 0%,
rgba(253,253,253,0.75) 100%);

@border-color-primary: darken(@background-primary, 10%);
@border-color-secondary: darken(@background-secondary, 10%);
@border-color-tertiary: darken(@background-tertiary, 10%);
@border-color-divider: @border-color-secondary;

//============================= Typography =============================//

// ----- Colors -----
@text-color:         @gray-lighter;//@black;
@text-color-inverse: @black;//@white;

@text-color-heading: @gray-lighter;//#434648;

@text-color-link:        @blue;
@text-color-link-hover:  @blue-dark;
@text-color-link-active: @blue-dark;

@sidebar-text: @text-color-heading;
@minimize: @color-warning;
@maximize: @color-success;
@danger: @color-danger;

// prefer Balsamiq Sans if it exists, I guess
@font-family-sans-serif: 'Balsamiq Sans', 'Nylas-Pro', 'Helvetica', sans-serif;
@font-family: @font-family-sans-serif;
body style ~ mailspring-workspace, body style ~ mailspring-workspace * {
  font-family: 'Nylas-Pro' !important;
}

// hide the toolbar activity
.toolbar-activity {
  //display: none;
}

.well .well-row input {
  background-color: @gray;
}

.menu.search-container input, .sheet-toolbar .thread-search-bar {
  background-color: rgba(0,0,0,0);
  transition-duration: 300ms;
  transition-property: background-color, border-radius;
  transition-timing-function: ease-in;
  border-radius: 20px;
}

.menu.search-container input:focus, .sheet-toolbar .thread-search-bar.focused {
  background-color: @gray-darker;
  color: @text-color;
}
.sheet-toolbar .thread-search-bar.focused {
  border-radius: 10px 10px 0 0;
}

.sheet-toolbar .suggestions {
  background-color: @gray-darker;
  border-radius: 0 0 10px 10px;

  opacity: 0;
  transition-duration: 300ms;
  transition-property: opacity;
  transition-timing-function: ease-in;
  /*
  height:0px;
  transition-duration: 2ms;
  transition-property: height;
  transition-timing-function: ease-in;
  overflow:hidden;*/
}

.focused .suggestions {    
  /*height:100px;*/
  opacity: 1;
}
// alt style, light box with darker text
//.menu.search-container input:focus {
//  background-color: @gray-lighter;
//  color: @text-color-inverse;
//}

.menu.search-container img.search-accessory.clear {
  background-color: mix(@gray, @gray-lighter, 30%);
  border-radius: 50%;
}

// This doesn't work
//.menu.search-container input.empty::placeholder::before {
//  content: "Search for the mail you love 💌";
//}
.menu.search-container input.empty::placeholder {
  //opacity: 0;
}

// looks slow, not slick
//.account-sidebar .item .name, .account-sidebar .item .icon {
//  transition-duration: 500ms;
//  transition-property: color;
//  transition-timing-function: ease-out;
//}

.scrollbar-track {
  background-color: rgba(0,0,0,0.2);
 }
.scrollbar-track-inner {
 background-color: rgba(0,0,0,0);
}
.scrollbar-handle {
  box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.2);
}

img.spinner.gif {
  background-color: white;
  border-radius: 50%;
}

::selection {
  color: @color-warning; 
  background: @color-success;
}

// Hide contact sidebar "tip" for Mailspring Pro
.participant-profile + div {
  display: none;
}

//.message-item-wrap, .message-item-white-wrap {
//  background-color: #e0e0e0;
//}
//.message-item-wrap *,.message-item-white-wrap * {
//  color: @gray-darker;
//}
//.inbox-html-wrapper {
//  margin: 4px;
//  border: 1px;
//  border-color: @gray-darker;
//  background-color: #e0e0e0;
//  color: @gray-darker;
//  border-radius: 2px;
//}
.ignore-in-parent-frame {
  body {
    //-webkit-filter: invert() hue-rotate(180deg);// saturate(130%);
    * {color: @gray-darker;}//* {color: @gray-lighter;}
  }
  img {
    //-webkit-filter: invert() hue-rotate(180deg);// saturate(130%);
  }
}
.iframe-container {
  background-color: darken(@gray-lighter, 15%);
  height: 100% !important;
  padding: 0 15px 15px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px darken(@gray, 10%);
}

// cribbed from darkside
.toolbar-window-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  min-width: 50px;
  width: 50px;
}

.toolbar-window-controls button {
  background-color: @sidebar-text;
  background-image: none !important;
  float: none;
  opacity: 0.5;
  margin: 0;
  transform: scaleY(0.5);
  border-radius: 2px;
  transition-duration: 150ms;
  transition-property: border-radius, opacity, transform;
}

.toolbar-window-controls:hover button {
  opacity: 1;
  border-radius: 50%;
  transform: scaleY(1);
}

.toolbar-window-controls .close {
  background-color: @danger;
}

.toolbar-window-controls .minimize {
  background-color: @minimize;
}

.toolbar-window-controls .maximize {
  background-color: @maximize;
}

.RichEditor-content {
  padding: 7px;
  border-radius: 0 0 3px 3px;
  color: @gray-darker !important;
  background-color:  darken(@gray-lighter, 15%);
  box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
/* // Weird experimental pill-shaped traffic lights
.toolbar-window-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  min-width: 60px;
  width: 60px; //50
  height: 15px;
}

.toolbar-window-controls button {
  height: 15px;
  width: 18px;
  background-color: @sidebar-text;
  background-image: none !important;
  float: none;
  opacity: 0.5;
  margin: 0;
  transform: scaleY(0.5);
  border-radius: 2px;
  transition-duration: 150ms;
  transition-property: border-radius, opacity, transform;
}

.toolbar-window-controls:hover button {
  opacity: 1;
  border-radius: 2px;
  transform: scaleY(1);
}
.toolbar-window-controls:hover .close {
  border-radius: 50% 2px 2px 50%;
}
.toolbar-window-controls:hover .maximize {
  border-radius: 2px 50% 50% 2px;
}

.toolbar-window-controls .close {
  background-color: @danger;
  
}

.toolbar-window-controls .minimize {
  background-color: @minimize;
}

.toolbar-window-controls .maximize {
  background-color: @maximize;
}

.is-blurred {
  .toolbar-window-controls .close,
  .toolbar-window-controls .minimize,
  .toolbar-window-controls .maximize {
    //background-color: fade(@gray, 50%);
    background-color: fade(@sidebar-text, 50%);
  }
}*/

// Compose Button Overrides
/*.sheet-toolbar .btn.btn-toolbar.item-compose {
  background: transparent;
  box-shadow: none;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  height: 100%;
  transition: opacity 200ms;
  &:hover {
    opacity: 1;
  }
}

// Compose button icon color
.sheet-toolbar .btn.btn-toolbar.item-compose img.content-mask {
  background-color: @sidebar-text;
}

// Activity List
.toolbar-activity {
  margin-right: 8px;
}

.activity-list-container {
  .disclosure-triangle div {
    margin-left: 4px;
    margin-top: -2px;
  }
}
*/

// https://github.com/oeaeee/n1-stripe/blob/master/styles/accounts.less